[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.mono
*.bak
*.cache
*.swp
*.html
*.log
*.txt
# Web artifacts
dr24CoreNet/dr24CoreNet.WebUI/wwwroot/lib/
